.left-side,
.right-side{
    height: 100vh;
}

.left-side{
    margin-right: 0%;
}

 .navbarMain{
     background: white;
 }

#signatureAC{
    width: auto;
    height: 40%;
    padding-bottom: none;
}

#about{
    text-align: center;
}

/*START*/
.row > div {
     margin-bottom: 1em;
    }

.col1{
    background-image: url(/assets/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col5{
    background-image: url(/assets/img5.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col2{
    background-image: url(/assets/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col3{
    background-image: url(/assets/img3.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col4{
    background-image: url(/assets/img4.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col6{
    background-image: url(/assets/img6.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.hoverText:not(img){
    background: black;
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    height: 300px;
}

.hoverText:hover{
    opacity: 1;
}

.icons{
    color:navy;
}