header{
    margin-top: 3.5em;
    margin-bottom: 50px;
    height: 100vh;
}
 
h1{
    font-weight: bolder;
}

@media only screen and (max-width: 575px) {
    header{
        margin-top:-2em;
    }
}

.left-side,
.right-side{
    height: auto;
}

.left-side{
    margin-right: 0%;
}

 .navbarMain{
     background: white;
 }

#signatureAC{
    width: 50%;
}

#about{
    text-align: center;
}

/*START*/
.row > div {
     margin-bottom: 1em;
    }

.col1{
    background-image: url(/assets/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col5{
    background-image: url(/assets/img5.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col2{
    background-image: url(/assets/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col3{
    background-image: url(/assets/img3.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col4{
    background-image: url(/assets/img4.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.col6{
    background-image: url(/assets/img6.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: none;
    border-radius: 4px;
}

.hoverText:not(img){
    background: black;
    opacity: 0;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    height: 300px;
}

.hoverText:hover{
    opacity: 1;
    font-size: 15px;
    word-wrap: break-word;
    
}


.fab, .fas {
    color: black;
  }